@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap');
  
body {
    background-color: #EEE;
    margin: 0px;
    padding: 0px;
}

body {
  font-family: 'Quicksand', sans-serif; /* 'Quicksand' es el nombre, 'sans-serif' es una fuente de respaldo */
}

h1, h2, h3 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700; /* Si quieres usar el estilo Bold */
}

p {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400; /* Si quieres usar el estilo Regular */
}