<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/index.css">
    <title>{{title}}</title>
</head>
<body>
    {{>component/topbar}}
    <div class="box-center">
      <div class="card-container">
        <h1>Terminos y uso</h1>
        <code>
          <h3>Usuarios, obligaciones, responsabilidad y condiciones</h3><br>
          El Usuario deberá respetar estos Términos y Condiciones de Uso del sitio web. Las infracciones por acción u omisión de los presentes Términos y Condiciones de Uso generarán el derecho a favor del Administrador de suspender al Usuario que las haya realizado.
          <br><br>
          El Usuario se obliga a usar los Servicios Digitales de conformidad con estos Términos y Condiciones, en forma correcta y lícita. En caso contrario, el Administrador podrá suspender la cuenta del Usuario, por considerarlo: violatorio de estos Términos y Condiciones y/o de la Política de Privacidad de estos Servicios Digitales, ofensivo, ilegal, violatorio de derechos de terceros, contrario a la moral y buenas costumbres y amenaza la seguridad de otros Usuarios.
          <br><br>
          Sin embargo, esta posibilidad no implica necesariamente que el contenido de toda la información disponible en los Servicios Digitales haya sido revisado.
          <br><br>
          <h4>El Usuario se compromete a:</h4>
          
          > No acceder a datos restringidos o a intentar violar las barreras de seguridad para llegar a ellos.
          <br><br>
          > No realizar búsquedas de vulnerabilidades o explotación de las mismas para cualquier fin.
          <br><br>
          > No divulgar información acerca de la detección de vulnerabilidades encontradas en los Servicios Digitales.
          <br><br>
          > Comunicar al Administrador toda información a la que tenga acceso que pudiera implicar un compromiso a la seguridad de la información o los servicios digitales.
          <br><br>
          > La adecuada utilización de todos los recursos de Internet es, sin excepción, de entera responsabilidad del Usuario de los Servicios Digitales.
        </code>
        <br><br>
        <code>
          <h2>Actividades prohibidas</h2>
          <h3>Las siguientes actividades se encuentran expresamente vedadas, sin perjuicio de las prohibiciones generales expuestas anteriormente:</h3>
          <br>
          * Hostigar, acosar, amenazar, acechar, realizar actos de vandalismo hacia otros Usuarios.
          <br><br>
          * Infringir los derechos a la intimidad de otros Usuarios.
          <br><br>
          * Solicitar información personal identificable de otros Usuarios con el propósito de hostigar, atacar, explotar, violar la intimidad de los mismos;
          <br><br>
          * Publicar de manera intencionada o con conocimiento injurias o calumnias;
          <br><br>
          * Publicar, con el intento de engañar, contenido que es falso o inexacto;
          <br><br>
          * Intentar usurpar la identidad de otro Usuario, representando de manera falsa su afiliación con cualquier individuo o entidad, o utilizar el nombre de otro Usuario con el propósito de engañar;
          <br><br>
          * Promover, defender o mostrar pornografía, obscenidad, vulgaridad, blasfemia, odio, fanatismo, racismo y/o violencia.
          <br><br>
          * Vulnerar los derechos establecidos en la Ley 25.326 de Protección de Datos Personales.
          <br><br>
          * En caso de sufrir alguna de estas situaciones, deberá comunicarse con el Administrador a través de sssypd@jefatura.gob.ar.
        </code>
        <br><br><br>
        <span style="text-align: end;">©2025 por Antonio Ledezma. Todos los derechos reservados</span>
      </div>
    </div>
    {{>component/footer}}
</body>
</html>
