<footer>
    <ul class="footer-navbar-nav">
        <li class="footer-nav-item">
            <a class="footer-nav-link" href="/principal">Principal</a>
        </li>
        <li class="footer-nav-item">
            <a class="footer-nav-link" href="/comercializacion">Comercialización</a>
        </li>
        <li class="footer-nav-item">
            <a class="footer-nav-link" href="/informacion-de-contacto">Información de contacto</a>
        </li>
        <li class="footer-nav-item">
            <a class="footer-nav-link" href="/quienes-somos">Quienes somos</a>
        </li>
        <li class="footer-nav-item">
            <a class="footer-nav-link" href="/terminos-y-uso">Términos y uso</a>
        </li>
    </ul>

    <div class="derechos-box">
        <code>©2025 por Antonio Ledezma. Todos los derechos reservados</code>
    </div>

</footer>
