<a class="card" href="/product/{{id}}">
    <div class="box-label">
        <p class="label">{{name}}</p>
    </div>
    {{#isNew}}
    <div class="box-new">
        <div class="label-new">Nuevo</div>
    </div>
    {{/isNew}}
    <img src="/img/product/{{srcImg}}" class="card-img-top">
    <div class="header-box">
        <div class="cantidad-box">
            <div class="cantidad"><span class="stock">{{amount}}</span></div>
            <span>{{name}}</span>
        </div>
        <div class="precio">$ {{price}}</div>
    </div>
</a>
